html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0 0 40px;
    background-color: #EEEEEE;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: #91002E;
    line-height: 80px;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
}

.header a {
    color: inherit;
}

.headertext {
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.login {
    position: absolute;
    right: 40px;
}

.flash {
    margin: 20px auto 0 auto;
    padding: 7px 0 7px 10px;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.flashlist {
    font-size: 15px;
    list-style-position: inside;
    margin: 15px 0;
    padding: 0 10px;
}

#error {
    border-color: rgb(255, 0, 0);
    border-color: rgba(255, 0, 0, 0.4);
    background-color: rgb(255, 127, 127);
    background-color: rgba(255, 127, 127, 0.4);
}

#success {
    border-color: rgb(0, 255, 0);
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgb(127, 255, 127);
    background-color: rgba(127, 255, 127, 0.4);
}

.content {
    padding: 10px 15px 30px;
    color: #91002E;
    overflow-y: auto;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #91002E;
    line-height: 40px;
    text-align: center;
}

.footertext {
    color: white;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
}
