{% extends "maraudersmap.html" %}

{% block title %}
    Search Results
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/css/accio.css" />
{% endblock %}

{% macro searchparam(param, value) %}
    <div class="param_label">{{ param }}: <span class="param">{{ value or '(None)' }}</span></div>
{% endmacro %}

{% block content %}
    <h1>{{ role.capitalize() }} Search Results</h1>
    <div class="outer-div">
        <div>
    	<a href="{{ searchpage }}">Click here to perform another search.</a>
	</div>
	<div id='searchparams' class='content'>
    <h2>You searched for {{ role }}s with the following:</h2>
    {% for param, value in parameters.items() %}
        {{ searchparam(param, value) }}
    {% endfor %}

    </div>
    <div id='results' class='content'>
        <h2>Your search found the following:</h2>
        {% if noparams: %}
            <div>You must enter some search criteria!</div>
        {% elif not results: %}
            <div>No results found :(</div>
        {% else: %}
            {% for result in results: %}
                {% for field, value in result.items(): %}
                    <div>{{ field }}: {{ value or 'None listed' }}</div>
                {% endfor %}
                <br />
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
