{% extends "maraudersmap.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/css/signup.css" />
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/signup.js"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to the Sign Up Page.</h1>
    <form action="new" method="POST" class="inputform" id="signupform">
        <ul class="inputlist">
            <li id="email">
                Email Address (must be an oberlin.edu address):
                <br />
                <input type="email" name="email" pattern="^[a-zA-Z0-9]+@oberlin.edu$" required />
            </li>
            <li id="tnum">
                T number (required for students, does not need to begin with 'T'):
                <br />
                <input type="text" name="tnum" pattern="^T?[0-9]{8}$" required />
            </li>
            <li id="passone">
                Password (must be at least six characters long):
                <br />
                <input type="password" name="passone" pattern=".{6,}" required />
            </li>
            <li id="passtwo">
                Confirm Password:
                <br />
                <input type="password" name="passtwo" pattern=".{6,}" required />
            </li>
            <li>
                Are you a student or employee?
                <br />
                <label><input type="radio" name="role" value="student" checked />Student </label>
                <label><input type="radio" name="role" value="employee" />Employee</label>
            </li>
        </ul>
        <input type="submit" value="Sign up!" />
    </form>
{% endblock %}
