{% extends "maraudersmap.html" %}

{% block title %}
    Log in
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/forms.css" />
{% endblock %}

{% block content %}
    <h1>Log in</h1>
    <form action="in/" method="POST" class="inputform" id="loginform">
        <ul class="inputlist">
            <li id="email">
                Email Address:
                <br />
                <input type="email" name="email" value="{{ request.form['email'] }}" required />
            </li>
            <li id="password">
                Password:
                <br />
                <input type="password" name="password" required />
            </li>
        </ul>
        <input type="submit" value="Log in" />
    </form>
{% endblock %}
