<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetPost | {% block title %}Home{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="/css/template.css" />
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class="header">
        {% block header %}
            <span class="headertext"><a href="/">GetPost</a></span>
            <span class="login">
                <ul class="headerlist">
                    {% if is_logged_in(): %}
                        {% if session['first_name'] %}
                            <li>Welcome back,
                                {{ session['alternative_name'] or session['first_name'] }}!
                            </li>
                        {% else %}
                            <li>Welcome back!</li>
                        {% endif %} |
                        {% if session['role'] == 'student' %}
                            <li><a href="/students/me/">Account</a></li> |
                        {% elif session['role'] == 'employee' %}
                            <li><a href="/employees/me/">Account</a></li> |
                        {% elif session['role'] == 'administrator' %}
                            <li><a href="/admin/me/">Account</a></li> |
                        {% endif %}
                        <li><a href="/auth/out/">Log out</a></li>
                    {% else: %}
                        <li><a href="/auth/">Log in</a></li> |
                        <li><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </span>
            {% if is_logged_in(): %}
                <span class="headertools">
                    <ul class="headerlist">
                        {% if session['role'] == 'student' %}
                            <li><a href="/email/">Email</a></li> |
                            <li><a href="/packages/">Packages</a></li>
                        {% elif session['role'] == 'employee' %}
                            <li><a href="/email/">Email</a></li> |
                            <li><a href="/packages/">Packages</a></li> |
                            <li><a href="/students/">Students</a></li>
                        {% elif session['role'] == 'administrator' %}
                            <li><a href="/email/">Email</a></li> |
                            <li><a href="/packages/">Packages</a></li> |
                            <li><a href="/students/">Students</a></li> |
                            <li><a href="/employees/">Employees</a></li> |
                            <li><a href="/admin/">Administrator</a></li>
                        {% endif %}
                    </ul>
                </span>
            {% endif %}
        {% endblock %}
    </div>
    <div class="content">
        {% block flasherrors %}
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    <div class="flash flasherror">
                        The following error(s) occurred:
                        <ul class="flashlist">
                            {% for message in errors %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block flashsuccesses %}
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                    <div class="flash flashsuccess">
                        <ul class="flashlist">
                            {% for message in successes %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
            <span class="footertext">GetPost - <em>bringing the Oberlin mailroom to you.</em></span>
        {% endblock %}
    </div>
</body>
</html>
