<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetPost | {% block title %}Home{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="/css/template.css" />
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class="header">
        {% block header %}
            <span class="headertext"><a href="/">GetPost</a></span>
            {% if 'logged_in' in session: %}
                <span class="login">
                    {% if session['first_name'] %}
                        Welcome back, {{ session['first_name'] }}!
                    {% else %}
                        Welcome back!
                    {% endif %}
                    | <a href="/auth/out/">Log out</a></span>
                {% if session['role'] == 'student' %}
                    <span class="headertools">
                        <ul class="headertoolslist">
                            <li><a href="/email/">Email</a></li>
                            <li><a href="/packages/">Packages</a></li>
                            <li><a href="/students/">Students</a></li>
                        </ul>
                    </span>
                {% elif session['role'] == 'employee' %}
                    <span class="headertools">
                    </span>
                {% elif session['role'] == 'administrator' %}
                    <span class="headertools">
                    </span>
                {% endif %}
            {% else: %}
                <span class="login">
                    <a href="/auth/">Log in</a> |
                    <a href="/signup/">Sign up</a>
                </span>
            {% endif %}
        {% endblock %}
    </div>
    <div class="content">
        {% block flasherrors %}
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    <div class="flash flasherror">
                        The following error(s) occurred:
                        <ul class="flashlist">
                            {% for message in errors %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block flashsuccesses %}
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                    <div class="flash flashsuccess">
                        <ul class="flashlist">
                            {% for message in successes %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
            <span class="footertext">GetPost - bringing the Oberlin mailroom to you.</span>
        {% endblock %}
    </div>
</body>
</html>
